button {
  border: none;
  padding: 2%;
  margin: 1%;
  font-size: 18px;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  transition: 0.3s linear;
  &:hover {
    transform: rotateX(15deg);
    box-shadow: 0 15px 15px $tertiary;
  }

}

.success {
  background-color: $success;
  color: black;
}

.danger {
  background-color: $danger;
  color: #fff;
}

  .btn-extend {
    width: 100%;
  }

  .likeDislike {
  background-color: unset !important;
  padding: 3%;
  margin: 5px;

}

  .alreadyLike {
    color: $success;
  }
  .alreadyDislike {
    color: $danger;
  }