.connexion {
  margin-top: 10%;
  width: 60%;
  height: 500px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  img {
    width: 250px;
  }
  &_tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    button {
      margin-bottom: 0%;
    }
  }
  &_page {
    padding: 2%;
    background-color: lighten($color: $tertiary, $amount: 20%);
    border-radius: 10px;
  }
}
.active {
  background-color: lighten($color: $tertiary, $amount: 20%);
  border-radius: 6px 6px 0 0;
  &:hover {
    box-shadow: 0;
  }
}

@media screen and (max-width: 680px) {
  .connexion {
    width: 80%;
  }
}

